<!DOCTYPE html>
<html>
<head>
<title>My first flask project!</title>
</head>
<body>

<h1>My First Template</h1>
<p>Hello 2.Ri! ♥</p>
{% if podatki['uspeh'] %}
<i>Uspešno sem se povezal na database.</i>
{% else %}
<i><b>Neuspešno</b> sem se povezal na database.</i>
{% endif %}


<form action="/" method="post">
  <label for="fname">Višina</label><br>
  <input type="text" id="fname" name="visina" value=""><br>
  <label for="lname">Teža</label><br>
  <input type="text" id="lname" name="teza" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

{% if podatki['itm'] %}
<i>Vaš itm je {{podatki['itm']}}</i>
{% endif %}

</body>
</html>